{#
/**
 * @file
 * Default theme implementation for Omnipedia media element.
 *
 * Available variables:
 *
 * - 'media': A render array for the media entity.
 *
 * - 'attributes': Attribute object for the container element.
 *
 * - 'align': The direction to float this media element ('left' or 'right'), or
 *   no floating (a value of 'none').
 *
 * - 'view_mode': The view mode to display the media entity as. Defaults to
 *   'omnipedia_embedded'.
 *
 * @ingroup themeable
 */
#}

{% set base_class = 'omnipedia-media' %}

{% set attributes = attributes.addClass([
  base_class,
  base_class ~ '--align-' ~ align,
]) %}

{% set media = media|merge({
  '#attributes': media['#attributes'].addClass([
    base_class ~ '__media',
  ])
}) %}

<div{{ attributes }}>
  {{ media }}
</div>
