{#
/**
 * @file
 * Default theme implementation for Omnipedia media element.
 *
 * This is just a basic wrapper around the <drupal-media> element.
 *
 * Available variables:
 *
 * - 'container_attributes': Attribute object for the container element.
 *
 * - 'media_attributes': Attribute object for the <drupal-media> element.
 *
 * - 'align': The direction to float this media element ('left' or 'right'), or
 *   no floating (a value of 'none').
 *
 * @ingroup themeable
 */
#}

{% set base_class = 'omnipedia-media' %}

{% set container_attributes = container_attributes.addClass([
  base_class,
  base_class ~ '--align-' ~ align,
]) %}

<div{{ container_attributes }}>
  <drupal-media{{ media_attributes.addClass([
    base_class ~ '__media',
  ]) }}></drupal-media>
</div>
