// -----------------------------------------------------------------------------
//   Omnipedia <about> element stylesheet
// -----------------------------------------------------------------------------

.omnipedia-about {
  margin-bottom:  0.5em;
  padding-left:   1.6em;

  font-style:   italic;
}
