// -----------------------------------------------------------------------------
//   Omnipedia <infobox> element stylesheet
// -----------------------------------------------------------------------------

@use '_infobox' as infobox;
@use 'sass/helpers/breakpoint';
@use 'sass/helpers/hide';
@use 'sass/helpers/layout';

.omnipedia-infobox {
  max-width: 100%;

  margin-bottom:  infobox.$omnipedia-infobox-outer-spacing;
  padding:        infobox.$omnipedia-infobox-inner-spacing;

  // Match Wikipedia's infobox font size.
  font-size: 88%;

  // Override the smaller font size on media captions so they aren't tiny due to
  // the above font size reduction.
  .omnipedia-media figcaption {
    font-size: 100%;
  }

  @include breakpoint.on('>=omnipedia-infobox-floated') {
    float: right;

    max-width:  50%;
    width:      22em;

    margin-left: infobox.$omnipedia-infobox-outer-spacing;
  }

  &__name {
    display:    block;

    padding-bottom: infobox.$omnipedia-infobox-inner-spacing;

    font-size:    120%;
    text-align:   center;
  }

  &__info {
    // Override browser defaults.
    margin-bottom: 0;

    &-item-title {
      * + & {
        margin-top: infobox.$omnipedia-infobox-inner-spacing;
      }

      font-weight: bold;
    }

    &-item-value {
      margin-left: 0;
    }

    @include layout.use-grid {
      display: grid;

      grid-gap: infobox.$omnipedia-infobox-inner-spacing;

      grid-template-columns: 1fr 2fr;

      &-item-title {
        * + & {
          margin-top: 0;
        }

        &--is-media {
          text-align: center;
        }
      }

      &-item-title,
      &-item-value {
        &--is-media {
          grid-column: span 2;
        }
      }
    }

    // The 'media' item title should be visually hidden.
    &-item-title--media {
      @include hide.me;
    }

    // Media value items are centred horizontally, including any captions they
    // may have.
    &-item-value--is-media {
      display: flex;
      justify-content: center;

      text-align: center;
    }

    // Lists within the info section should not have bullets or numbers,
    // as that clutters things.
    ul, ol {
      padding-left: 0 !important;
      list-style:   none;
    }
  }
}
