// -----------------------------------------------------------------------------
//   Omnipedia <infobox> element stylesheet
// -----------------------------------------------------------------------------

@import '../../../../ambientimpact/ambientimpact_core/stylesheets/_common.scss';
@import '../_components.scss';

.omnipedia-infobox {
  max-width: 100%;

  margin-bottom:  $omnipedia-infobox-outer-spacing;
  padding:        $omnipedia-infobox-inner-spacing;

  // Match Wikipedia's infobox font size.
  font-size: 88%;

  @include media('>=omnipedia-infobox-floated') {
    float: right;

    max-width:  50%;
    width:      22em;

    margin-left: $omnipedia-infobox-outer-spacing;
  }

  &__name {
    display:    block;

    padding-bottom: $omnipedia-infobox-inner-spacing;

    font-size:    120%;
    text-align:   center;
  }

  &__info {
    // Override browser defaults.
    margin-bottom: 0;

    &-item-title {
      * + & {
        margin-top: $omnipedia-infobox-inner-spacing;
      }

      font-weight: bold;
    }

    &-item-value {
      margin-left: 0;
    }

    @include use-grid {
      display: grid;

      grid-column-gap:        $omnipedia-infobox-inner-spacing * 4;
      grid-row-gap:           $omnipedia-infobox-inner-spacing * 2;
      grid-template-columns:  1fr 2fr;

      &-item-title {
        * + & {
          margin-top: 0;
        }

        &--is-media {
          text-align: center;
        }
      }

      &-item-title,
      &-item-value {
        &--is-media {
          grid-column: span 2;
        }
      }
    }

    // The 'media' item title should be visually hidden.
    &-item-title--media {
      @include hide-me;
    }

    // Lists within the info section should not have bullets or numbers,
    // as that clutters things.
    ul, ol {
      padding-left: 0 !important;
      list-style:   none;
    }
  }

  .omnipedia-media {
    margin-left:  auto;
    margin-right: auto;
  }

  figcaption {
    text-align:   center;
  }
}
